<!DOCTYPE html>
<html>

<head>
    <title>Spike</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="shortcut icon" href="../static/favicon.ico">
</head>

<body>
    <script src="../static/js/lottie.js"></script>
    <div id="bodymovin"></div>

    <!--include data of animation-->
    <script src="../static/js/EmotionController.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>